<%- include('partials/header') %>

<main>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <strong><%= product.name %></strong> - $<%= product.price.toFixed(1) %>
            </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>
